<%- include("./partials/header") %> <%- include("./partials/navbar") %>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-0 order-1 top-padding">
          <h1>Welcome to</h1>
          <h1 style="color: red">Cotton Collection</h1>
          <p>
            <span class="bold-style">
              Click the following button to check in/out</span
            >
          </p>
          <a href="formpage">
            <button class="btn-primary">Check In/Out</button>
          </a>
        </div>
        <div class="col-md-6 col-12 order-md-1 order-0">
          <figure>
            <img
              src="https://cdn.iconscout.com/icon/premium/png-256-thumb/mass-mailing-2708417-2260583.png"
              srcset="
                https://cdn.iconscout.com/icon/premium/png-512-thumb/mass-mailing-2708417-2260583.png 2x
              "
              alt="Mass Mailing Icon"
              width="256"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
